@charset "UTF-8";
/**
*
*	Name:			DANA Fonts
*	Version:			1.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		May 22, 2019
*	Updated on:		May 22, 2019
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت دانا یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
DANA fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 10;
  src: url("fonts/eot/dana-thin.eot");
  src: url("fonts/eot/dana-thin.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-thin.woff2") format("woff2"), url("fonts/woff/dana-thin.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 200;
  src: url("fonts/eot/dana-extralight.eot");
  src: url("fonts/eot/dana-extralight.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-extralight.woff2") format("woff2"), url("fonts/woff/dana-extralight.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/eot/dana-light.eot");
  src: url("fonts/eot/dana-light.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-light.woff2") format("woff2"), url("fonts/woff/dana-light.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src: url("fonts/eot/dana-medium.eot");
  src: url("fonts/eot/dana-medium.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-medium.woff2") format("woff2"), url("fonts/woff/dana-medium.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src: url("fonts/eot/dana-demibold.eot");
  src: url("fonts/eot/dana-demibold.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-demibold.woff2") format("woff2"), url("fonts/woff/dana-demibold.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 750;
  src: url("fonts/eot/dana-ultrabold.eot");
  src: url("fonts/eot/dana-ultrabold.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-ultrabold.woff2") format("woff2"), url("fonts/woff/dana-ultrabold.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/eot/dana-extrabold.eot");
  src: url("fonts/eot/dana-extrabold.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-extrabold.woff2") format("woff2"), url("fonts/woff/dana-extrabold.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 900;
  src: url("fonts/eot/dana-black.eot");
  src: url("fonts/eot/dana-black.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-black.woff2") format("woff2"), url("fonts/woff/dana-black.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/eot/dana-bold.eot");
  src: url("fonts/eot/dana-bold.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-bold.woff2") format("woff2"), url("fonts/woff/dana-bold.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/eot/dana-regular.eot");
  src: url("fonts/eot/dana-regular.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-regular.woff2") format("woff2"), url("fonts/woff/dana-regular.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

/**
Iranic fonts	
**/
@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 10;
  src: url("fonts/eot/dana-thinitalic.eot");
  src: url("fonts/eot/dana-thinitalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-thinitalic.woff2") format("woff2"), url("fonts/woff/dana-thinitalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 200;
  src: url("fonts/eot/dana-extralightitalic.eot");
  src: url("fonts/eot/dana-extralightitalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-extralightitalic.woff2") format("woff2"), url("fonts/woff/dana-extralightitalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 300;
  src: url("fonts/eot/dana-lightitalic.eot");
  src: url("fonts/eot/dana-lightitalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-lightitalic.woff2") format("woff2"), url("fonts/woff/dana-lightitalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 500;
  src: url("fonts/eot/dana-mediumitalic.eot");
  src: url("fonts/eot/dana-mediumitalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-mediumitalic.woff2") format("woff2"), url("fonts/woff/dana-mediumitalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 600;
  src: url("fonts/eot/dana-demibolditalic.eot");
  src: url("fonts/eot/dana-demibolditalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-demibolditalic.woff2") format("woff2"), url("fonts/woff/dana-demibolditalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 750;
  src: url("fonts/eot/dana-ultrabolditalic.eot");
  src: url("fonts/eot/dana-ultrabolditalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-ultrabolditalic.woff2") format("woff2"), url("fonts/woff/dana-ultrabolditalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 800;
  src: url("fonts/eot/dana-extrabolditalic.eot");
  src: url("fonts/eot/dana-extrabolditalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-extrabolditalic.woff2") format("woff2"), url("fonts/woff/dana-extrabolditalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: 900;
  src: url("fonts/eot/dana-blackitalic.eot");
  src: url("fonts/eot/dana-blackitalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-blackitalic.woff2") format("woff2"), url("fonts/woff/dana-blackitalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: bold;
  src: url("fonts/eot/dana-bolditalic.eot");
  src: url("fonts/eot/dana-bolditalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-bolditalic.woff2") format("woff2"), url("fonts/woff/dana-bolditalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: italic;
  font-weight: normal;
  src: url("fonts/eot/dana-regularitalic.eot");
  src: url("fonts/eot/dana-regularitalic.eot?#iefix") format("embedded-opentype"), url("fonts/woff2/dana-regularitalic.woff2") format("woff2"), url("fonts/woff/dana-regularitalic.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  direction: rtl;
  font-family: dana;
}

body .exam-form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .exam-form-main .side-section {
  position: fixed;
  width: 160px;
  background: #C4C4C4;
  height: 100vh;
}

@media (max-width: 768px) {
  body .exam-form-main .side-section {
    display: none;
  }
}

body .exam-form-main .main-section {
  background: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 160px;
  height: 100vh;
  padding: 50px;
}

@media (max-width: 768px) {
  body .exam-form-main .main-section {
    margin-right: 0;
    padding: 30px 15px;
  }
}

body .exam-form-main .main-section .exam-initial {
  margin-top: 30px;
}

body .exam-form-main .main-section .exam-initial .form-info {
  margin: 20px 0 40px;
}

body .exam-form-main .main-section .exam-initial .form-info .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

body .exam-form-main .main-section .exam-initial .form-info .header hr {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .exam-form-main .main-section .exam-initial .form-info .info-content {
  margin: 10px 0;
}

body .exam-form-main .main-section .exam-initial .form-info .info-content .item {
  margin: 10px 0;
}

body .exam-form-main .main-section .exam-initial .form-info .info-content .item input[type=checkbox] {
  cursor: pointer;
}

body .exam-form-main .main-section .exam-initial .form-info .info-content .item #age-range {
  margin: 10px 0;
  display: none;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .exam-form-main .main-section .exam-initial .form-info .info-content .item #age-range hr {
  width: 14px;
}

body .exam-form-main .main-section .exam-initial .form-info .info-content .item #age-range > div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

body .exam-form-main .main-section .exam-initial .form-info .info-content .item #age-range > div p input {
  outline: none;
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 10px;
  width: 70px;
}

body .exam-form-main .main-section .exam-initial .criterion .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

body .exam-form-main .main-section .exam-initial .criterion .header hr {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .exam-form-main .main-section .exam-initial .criterion .header button {
  border: none;
  outline: none;
  background: #333333;
  padding: 10px 15px;
  color: white;
  border-radius: 6px;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
}

body .exam-form-main .main-section .exam-initial .criterion .header button:hover {
  background: #4d4d4d;
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .criterion-content {
  margin-top: 30px;
  background: #eee;
  padding: 20px 30px;
  border-radius: 10px;
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .criterion-content input[name=criterion-input] {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #000000;
  font-family: inherit;
  font-size: 16px;
}

@media (max-width: 768px) {
  body .exam-form-main .main-section .exam-initial .criterion .criteria-container .criterion-content input[name=criterion-input] {
    padding: 7px;
  }
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .criterion-content .questions .question {
  margin: 25px 0;
  border-right: 5px solid #333333;
  border-bottom-right-radius: 2px;
  padding-right: 25px;
}

@media (max-width: 768px) {
  body .exam-form-main .main-section .exam-initial .criterion .criteria-container .criterion-content .questions .question {
    padding-right: 15px;
  }
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .criterion-content .questions .question .question-content {
  margin: 20px 0;
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .criterion-content .questions .question .question-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin: 15px;
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .criterion-content .questions .question .question-caption input {
  width: 114px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid #000000;
  border-radius: 6px;
  font-family: inherit;
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .criterion-content button {
  border: none;
  outline: none;
  background: #333333;
  padding: 10px 15px;
  color: white;
  border-radius: 6px;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .criterion-content button:hover {
  background: #4d4d4d;
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop.open {
  display: block;
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop .modal {
  margin: 200px auto;
  width: 330px;
  padding: 30px;
  background: white;
  border-radius: 6px;
}

@media (max-width: 600px) {
  body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop .modal {
    width: 250px;
  }
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop .modal .modal-content {
  margin: auto;
  max-width: 300px;
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop .modal .modal-content .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 30px 0;
}

@media (max-width: 600px) {
  body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop .modal .modal-content .category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 5px;
  }
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop .modal .modal-content .category label {
  width: 85px;
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop .modal .modal-content .category select {
  padding: 8px 5px;
  border: 1px solid #000000;
  border-radius: 6px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
}

@media (max-width: 600px) {
  body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop .modal .modal-content .category select {
    width: 100%;
  }
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop .modal .modal-content .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 30px 0;
}

@media (max-width: 600px) {
  body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop .modal .modal-content .number {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 5px;
  }
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop .modal .modal-content .number label {
  width: 85px;
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop .modal .modal-content .number input {
  padding: 8px 5px;
  outline: none;
  border: 1px solid #000000;
  border-radius: 6px;
  font-family: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 600px) {
  body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop .modal .modal-content .number input {
    width: 100%;
  }
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop .modal .modal-content button {
  border: none;
  outline: none;
  background: #333333;
  padding: 10px 15px;
  color: white;
  border-radius: 6px;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
}

body .exam-form-main .main-section .exam-initial .criterion .criteria-container .backdrop .modal .modal-content button:hover {
  background: #4d4d4d;
}
/*# sourceMappingURL=exam-form.css.map */